{% extends "layouts/default.html" %}
{% block content %}
<script type="text/javascript">
    window.entry = {{ entry | dump }};
</script>
<section>
    <div class="home-wrapper">
        <div class="home-hero" id="home">
            <div class="hero-image-wrapper">
                <img class="hero-image" src="{{ getAssetUrl(entry.hero_banner.banner_image.url) }}" alt="Hero Image">
                <div class="hero-overlay">
                    <div class="hero-content">
                        <p class="hero-rolling-text">
                            <span class="typed">{{ entry.hero_banner.rolling_text }}</span>
                        </p>
                        <div class="hero-description" style="font-size: 3rem; margin-bottom:4rem;">{{ entry.hero_banner.description }}</div>
                        <a href="#" class="hero-button">{{ entry.hero_banner.cta[0].title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
